node_modules
jspm_packages
dist
po/template.pot
dev/translations.js
.sublime-grunt.cache
.idea
*.iml
/typings
/lspui
/war
/lsp-app.conf.json
/dev/styles
/dev/config
/dev/external
/dev/jspm.conf.js
/config/grunt.conf.json
/config/jspm.conf.js
/dev/components/.+/jsconfig.json
/dev/components/jsconfig.json
dev/components/lsp-core/components/lsp-main/components/app/translations.js
/po/*.mo
jsconfig.json
